.background-section {
    background-image: url('../../../../assets/image/building.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
    color: rgb(242, 242, 242);
  }
  